html,
body,
.container-main {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-main {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}
.container-header {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  border-bottom: 1px solid;
  background-color: cadetblue;
  font-size: 40px;
}

.container-header button {
  height: 30px;
  border-color: black;
}

.container-books {
  display: grid;
  grid-template-columns: repeat(auto-fit, 190px);
  grid-template-rows: repeat(auto-fit, 270px);
  border: solid;
  border-width: 1px;
  gap: 18px;
  background-color: orange;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.card {
  border: solid;
  border-radius: 5px;
  display: grid;
  align-items: center;
  background-color: antiquewhite;
}

.container-input {
  display: grid;
}

.container-footer {
  border-top: 1px solid;
  padding-top: 20px;
}

.form-wrapper.formClose {
  display: none;
}

.form-wrapper.formShow {
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #686963b3;
  align-items: center;
  justify-content: center;
}

.container-form {
  border: solid;
  display: grid;
  width: 300px;
  grid-template-columns: 1fr;
  border-radius: 20px;
  padding: 25px 0px 25px 0px;
  opacity: 100%;
  z-index: 1;
  background-color: white;
  gap: 20px;
}
#form {
  width: 3 00px;
  margin: 0 auto;
}
#xBtn {
  border: none;
  margin-left: 10px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 2px 2px 0px 0px lightgray;
  font-size: 20px;
}

#innerAddBtn {
  padding: 0px 20px 0px 20px;
  background-color: azure;
  box-shadow: 2px 2px 0px 0px lightgray;
  border: none;
  margin-top: 40px;
  font-size: 20px;
}

input {
  border: none;
  border-width: thick;
  border-bottom: solid;
  border-color: black;
  border-radius: 4px;
  background-color: aliceblue;
  outline: none;
}

.container-form > p {
  font-size: 30px;
}
.container-form > div {
  font-size: 20px;
}
.errorMsg {
  color: red;
}
